<% include partials/header %>
<link rel="stylesheet" type="text/css" href="public /new.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<style>
header.jumbotron{
	color:white;
	background:black;
}</style>
<header class="jumbotron"><h1>Here are the List Of Events Available</h1>
	<br>
<ul><a class="btn btn-primary btn-large" href="/home"><b>Home</b></a>
<a class="btn btn-primary btn-large" href="/faq"><b>FAQ</b></a>

<a class="btn btn-primary btn-large" href="/contact"><b>Contact Us</b></a>

<a class="btn btn-primary btn-large" href="/logout"><b>Log out</b></a></ul><br></header>
<form method="POST" action="/searchservices">
	<input type="text" class="form-control" name="search" placeholder="🔍Search"></form>
<style>
	header.a{
		float: right;
	}

</style>
<div class="container">
<a href="/addservice"></a>
<% services.forEach(function(item){ %>
<%-console.log(item)%>
 <h2 style="white-space: pre-line, height:10px">
 	<b>Event:<%=item.NameOfService%></b><br>
  <b>Event held in:<%=item.location%></b><br>
 	<b>Held On:<%=item.Date%></b><br>
 	<b>Description:<%=item.description%></p></b>
 </h2><a button type="button" class="btn btn-primary" href="/services/<%= item._id %>">See more to apply</a></button>

 	<hr style="border-top: 1px solid black"><% });%>
</div>
</html>

